body{
    font-family: monospace;
    color: crimson;
    font-size: medium;
}
#logo{
    float:left;
    color: #000;
    padding: 25px;
    margin: 10px 5px 0px 10px;
    background-color: cornflowerblue;
}
.outline{
    border: dashed;
    margin-top: 10px;
}